:root {
  --white-color: #ffffff;
  --brownorange-color: #b47b48;
  --main-extralight-font: "Inter", sans-serif;
  --main-light-font: "Inter", sans-serif;
  --main-medium-font: "Inter", sans-serif;
  --main-extrabold-font: "Inter", sans-serif;
  --main-regular-font: "Inter", sans-serif;
  --second-regular-font: "Italiana", sans-serif;
}

.header-list {
  display: flex;
  gap: 31px;
  font-size: 24px;
  padding-left: 0;
}

.header-item {
  font-family: var(--main-extralight-font);
  color: var(--white-color);
}

.container {
  /* background-image: url(images/bakery-1.jpg); */
  
}


.container {
  width: 1150px;
  margin: 0 auto;
  outline: red solid;
}

.header-item {
  list-style: none;
}

.header-link {
  text-decoration: none;
}

.main-h1 {
  font-family: var(--main-extralight-font);
  font-size: 70px;
  font-weight: 200;
  color: var(--white-color);
}
.main-pharograph {
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
  height: 200px;
}
.btn-shop {
  width: 207px;
height: 57px;
flex-shrink: 0;
border-radius: 17px;
background: var(--brownorange-color);
border: none;
color: var(--white-color);
font-family: var(--main-light-font);
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;

}


.main-section {
  background-image: url("images/bakery-1.jpg");
  background-repeat: no-repeat;
}