:root {
  --white-color: #ffffff;
  --brownorange-color: #b47b48;
  --grey-black-color: #202023;
  --orange-color: #c85312;
  --grey-color: #f2f2f24d;
  --lightgrey-color: #d9d9d9;
  --hover-color: #ebad51;
  --main-extralight-font: "Inter", sans-serif;
  --main-light-font: "Inter", sans-serif;
  --main-medium-font: "Inter", sans-serif;
  --main-extrabold-font: "Inter", sans-serif;
  --main-regular-font: "Inter", sans-serif;
  --second-regular-font: "Italiana", sans-serif;
  --main-thin-font: "Inter", sans-serif;
  --main-black-font: "Inter", sans-serif;
  --main-bold: "Inter", sans-serif;
}

.header-list {
  display: flex;
  gap: 31px;
  font-size: 24px;
  padding-left: 0;
}

.header-item {
  font-family: var(--main-extralight-font);
  color: var(--white-color);
  list-style: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
  outline: red solid;
}

.mini-wrap {
  padding-top: 25px;
}

.header-link {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.main-h1 {
  font-family: var(--main-extralight-font);
  font-size: 70px;
  font-weight: 200;
  color: var(--white-color);
}

.main-pharograph {
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
  height: 200px;
}

.btn-shop {
  width: 207px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 17px;
  background: var(--brownorange-color);
  border: none;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.main-section {
  background-image: url("images/bakery-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  margin: 0 auto;
}

.main-list {
  display: flex;
  gap: 104px;
  padding-left: 7px;
  margin: 0 auto;
}

/* .main-image {
  
} */

.btn-main {
  background-color: var(--orange-color);
  width: 79px;
  height: 34px;
  flex-shrink: 0;
  color: var(--white-color);
  font-family: var(--main-black-font);
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
}

.Quality-h2 {
  font-family: var(--second-regular-font);
  color: var(--white-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.menu-section {
  background-color: var(--grey-black-color);
  margin-top: -50px;
}

.menu-h2 {
  font-family: var(--main-thin-font);
  color: var(--white-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.menu-h3 {
  color: var(--white-color);
  font-family: var(--main-extrabold-font);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn-menu {
  font-family: var(--main-extrabold-font);
  background-color: var(--brownorange-color);
  color: var(--white-color);
  border-radius: 17px;
  background: #b47b48;
  width: 137px;
  height: 41px;
  flex-shrink: 0;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.span-item {
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.p-item {
  color: var(--white-color);
  font-family: var(--main-medium-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-item {
  list-style: none;
  background: var(--grey-black-color);
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  outline: blue 2px solid;
  display: flex;
}

.extra {
  width: 193px;
  height: 193px;
}

.main-item:hover {
  background-color: var(--hover-color);
}

.Quality-section {
  background-image: url(images/quality-back.jpg);
  margin-top: -53px;
}

.Quality-img {
  width: 334px;
  height: 332px;
  flex-shrink: 0;
}

.Quality-list {
  list-style: none;
  display: flex;
  gap: 100.83px;
  margin: 0 auto;
  width: 998px;
}

.Quality-item {
  outline: green 2px solid;
  width: 197.532px;
}

.Quality-pharograph {
  color: var(--white-color);
  background-color: var(--grey-color);
  width: 197.532px;
  height: 291.475px;
  background: rgba(242, 242, 242, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
}

.TRADITIONAL-h3 {
  width: 735px;
  color: var(--lightgrey-color);
  font-family: var(--second-regular-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TRADITIONAL-p {
  color: var(--white-color);
  font-family: var(--main-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 251px;
}

.TRADITIONAL-list {
  list-style: none;
  display: flex;
  gap: 161.83px;
}

.TRADITIONAL-section {
  background: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0) 77.17%),
    url(images/traditional-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -48px;
}

.TRADITIONAL-img {
  width: 218.247px;
  flex-shrink: 0;
}

.where-section {
  background-color: var(--grey-black-color);
  margin-top: -48px;
}
.where-list {
  list-style: none;
  margin: 0 auto;
}

.where-tel {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.where-item {
  width: 199.826px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.where-p {
  color: var(--white-color);
}

.where-h3 {
  color: var(--white-color);
  font-family: var(--second-regular-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.where-h4 {
  color: var(--white-color);
  width: 175.727px;
  height: 44px;
  flex-shrink: 0;
  font-family: var(--main-regular-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background-color: var(--grey-black-color);
  /* display: flex; */
  margin-top: -53px;
}

.footer-h4 {
  width: 322.337px;
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.footer-h6 {
  width: 174.725px;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-list {
  list-style: none;
}

.footer-item {
  width: 68.283px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-p {
  width: 275.142px;
  color: var(--white-color);
  font-family: var(--main-thin-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  display: column;
}
