:root {
  --white-color: #ffffff;
  --brownorange-color: #b47b48;
  --grey-black-color: #202023;
  --orange-color: #c85312;
  --grey-color: #f2f2f24d;
  --lightgrey-color: #d9d9d9;
  --hover-color: #ebad51;
  --main-extralight-font: "Inter", sans-serif;
  --main-light-font: "Inter", sans-serif;
  --main-medium-font: "Inter", sans-serif;
  --main-extrabold-font: "Inter", sans-serif;
  --main-regular-font: "Inter", sans-serif;
  --second-regular-font: "Italiana", sans-serif;
  --main-thin-font: "Inter", sans-serif;
  --main-black-font: "Inter", sans-serif;
  --main-bold: "Inter", sans-serif;
}

ul {
  list-style: none;
}

.header-list {
  display: flex;
  gap: 31px;
  font-size: 24px;
  padding-left: 0;
}

.header-item {
  font-family: var(--main-extralight-font);
  color: var(--white-color);
  list-style: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
  /* outline: red solid; */
}

.mini-wrap {
  padding-top: 25px;
}

.header-link {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.main-h1 {
  font-family: var(--main-extralight-font);
  font-size: 70px;
  font-weight: 200;
  color: var(--white-color);
}

.main-pharograph {
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
  height: 200px;
}

.btn-shop {
  width: 207px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 17px;
  background: var(--brownorange-color);
  border: none;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 125px;
}


.btn-shop:hover {}

.main-section {
  background-image: url("images/bakery-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  margin: 0 auto;
}

.main-mark-1 {
  color: var(--white-color);
  border: var(--white-color) 1px solid;
  border-radius: 50%;
  width: 21px;
  text-align: center;
  margin-right: 9.99px;
}


.main-mark-1>.main-item:hover {
  display: none;
}

.main-mark-2 {
  color: var(--white-color);
  border: var(--white-color) 1px solid;
  border-radius: 50%;
  width: 21px;
  text-align: center;
  margin-right: 4.99px;
  margin-left: -36px;
  margin-top: -22px;
}

.main-mark-3 {
  color: var(--white-color);
  border: var(--white-color) 1px solid;
  border-radius: 50%;
  width: 21px;
  text-align: center;
  margin-top: -11px;
  margin-right: 8.99px;
  margin-left: -26px;
}

.main-list {
  display: flex;
  gap: 104px;
  padding-left: 7px;
  margin: 0 auto;
  padding-bottom: 36px;
}

.main-image {}

.btn-main {
  background-color: var(--orange-color);
  width: 79px;
  height: 34px;
  flex-shrink: 0;
  color: var(--white-color);
  font-family: var(--main-black-font);
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
}

.Quality-h2 {
  font-family: var(--second-regular-font);
  color: var(--white-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.menu-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
  width: 853px;
  gap: 197px;
  padding-bottom: 95px;
}


.menu-item {
  width: 328px;
  height: 237px;
  margin-top: -116px;
}

.bread-extra {
  width: 261px;
  margin-left: 25px;
  margin-top: 5px;
  padding-top: 19px;
}

.klipartz {
  margin-left: 100px;
  margin-top: -45.001px;
  width: 246px;
  height: 171px;
  flex-shrink: 0;
}


.bagel {
  margin-top: -125px;
  width: 249px;
  height: 185px;
  flex-shrink: 0;
}


.chader {
  margin-left: 164px;
  margin-top: -168px;
  width: 165px;
  height: 128px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.cherry-pie {
  width: 254.566px;
  height: 254px;
  flex-shrink: 0;
  margin-top: -28px;
  margin-left: 29px;
}


.kapckake {
  width: 93.193px;
  height: 116.687px;
  flex-shrink: 0;
  margin-left: -236px;
  margin-bottom: 26px;
}


.croason {}


.cookie-2 {
  width: 204px;
  height: 206px;
  flex-shrink: 0;
  margin-left: 55px;
}


.krendel {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  margin-left: -207px;
  margin-bottom: -22px;

}


.menu-border {
  border: 1px solid var(--white-color);
  height: 229px;
}

.menu-item {}

.menu-section {
  background-color: var(--grey-black-color);
  margin-top: -53px;
  height: 100%;
}

.menu-h2 {
  font-family: var(--main-thin-font);
  color: var(--white-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin-top: 53.1px;
  margin-bottom: 140.2px;
}

.menu-h3 {
  color: var(--white-color);
  font-family: var(--main-extrabold-font);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.menu-1 {
  margin-top: 3px;
}

.menu-2 {
  margin-top: -17px;
}

.menu-3 {
  margin-top: -35px;
}

.menu-4 {
  margin-top: -9px;
}

.btn-menu {
  font-family: var(--main-extrabold-font);
  background-color: var(--brownorange-color);
  color: var(--white-color);
  border-radius: 17px;
  background: #b47b48;
  width: 137px;
  height: 41px;
  flex-shrink: 0;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  cursor: pointer;
  margin-bottom: 7.8px;
  margin-top: 7.8px;
  margin-left: 82px;
}

.span-item {
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.p-item {
  color: var(--white-color);
  font-family: var(--main-medium-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-item {
  list-style: none;
  background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), var(--grey-black-color);
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  display: flex;
}

.extra {
  width: 193px;
  height: 193px;
}

.main-item:hover {
  background-color: var(--hover-color);
}

.Quality-section {
  background-image: url(images/quality-back.jpg);
  margin-top: -54px;
}

.Quality-img {
  width: 334px;
  height: 332px;
  flex-shrink: 0;
}

.Quality-list {
  list-style: none;
  display: flex;
  gap: 73.83px;
  /* margin: 0 auto; */
  width: 1150px;
  padding-left: 0;
}

.Quality-item {
  /* outline: green 2px solid; */
  margin-bottom: 48px;
  height: 387px;
}

.Quality-2 {
  margin-top: 34px;
  height: 531px;
}

.Quality-3 {
  margin-top: 68px;
}

.Quality-pharograph {
  background-color: var(--grey-color);
  background: rgba(242, 242, 242, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
  height: 198px;
  width: 292px;
  padding-top: 26px;
  color: var(--white-color);
  font-family: var(--main-medium-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 334px;
}

.TRADITIONAL-h3 {
  width: 735px;
  color: var(--lightgrey-color);
  font-family: var(--second-regular-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 54px;
}

.TRADITIONAL-p {
  color: var(--white-color);
  font-family: var(--main-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 251px;
}

.TRADITIONAL-list {
  list-style: none;
  display: flex;
  gap: 161.83px;
  width: 998px;
  margin-top: 79px;
}

.TRADITIONAL-section {
  background: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0.00) 77.17%),
    url(images/traditional-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: -48px;
}

.TRADITIONAL-img {
  width: 218.247px;
  flex-shrink: 0;
}

.where-section {
  background-color: var(--grey-black-color);
  margin-top: -48px;
}

.where-list {
  list-style: none;
}

.where-tel {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.where-item {
  width: 199.826px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-extralight-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.where-p {
  color: var(--white-color);
}

.where-h3 {
  color: var(--white-color);
  font-family: var(--second-regular-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 75px;
}

.where-tik {
  font-size: 21px;
}

.where-inst {
  font-size: 21px;
}

.wrap {
  display: flex;
  margin-left: 81px;
  padding-bottom: 44px;
}

.where-h4 {
  color: var(--white-color);
  width: 175.727px;
  height: 44px;
  flex-shrink: 0;
  font-family: var(--main-regular-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background-color: var(--grey-black-color);
  /* display: flex; */
  margin-top: -54px;
}

.footer-h4 {
  width: 322.337px;
  color: var(--white-color);
  font-family: var(--main-extralight-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.footer-h6 {
  width: 174.725px;
  color: var(--white-color);
  font-family: var(--main-light-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-list {
  list-style: none;
  padding-top: 46px;
}

.footer-wrap {
  display: flex;
  gap: 119px;
}

.footer-imp {
  padding-bottom: 52px;
}

.footer-item {
  width: 68.283px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-light-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-p {
  width: 275.142px;
  color: var(--white-color);
  font-family: var(--main-thin-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  display: column;
  margin: 0 auto;
}